<template>
  <v-app>
    <v-toolbar
      app
      :clipped-left="clipped"
    >
      <v-toolbar-title v-text="title"></v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>

    <v-content>
      <v-tabs
        v-model="active"
        color="cyan"
        dark
        slider-color="yellow"
      >
        <v-tab>
          Videos
        </v-tab>
        <v-tab>
          Gifs
        </v-tab>
        <v-tab-item>
          <v-card>
            <v-card-title primary-title>
              <div>
                <h3 class="headline mb-0" >{{ this.bucket.name }}'s Videos</h3>
              </div>
            </v-card-title>
            <v-data-table
              :headers="this.vidHeaders"
              :items="this.vids"
              hide-actions
              class="elevation-1"
            >
              <template slot="items" slot-scope="props">
                <td>{{ props.item.name }}</td>
                <td>{{ props.item.created }}</td>
                <td>{{ props.item.modified }}</td>
                <td>
                  <v-btn
                    color="red darken-2"
                    dark
                    @click="() => deleteItem(props.item.name)"
                  >
                    Delete
                  </v-btn>
                </td>
                <td>
                  <v-btn
                    color="red darken-2"
                    dark
                    @click="() => clickOnMakeGif(props.item.name)"
                  >
                    Make Gif
                  </v-btn>
                </td>
              </template>
            </v-data-table>
          </v-card>
        </v-tab-item>
        <v-tab-item>
          <v-card>
            <v-card-title primary-title>
              <div>
                <h3 class="headline mb-0" >{{ this.bucket.name }}'s Gifs</h3>
              </div>
            </v-card-title>
            <v-data-table
              :headers="this.gifHeaders"
              :items="this.gifs"
              hide-actions
              class="elevation-1"
            >
              <template slot="items" slot-scope="props">
                <td>{{ props.item.name }}</td>
                <td>{{ props.item.created }}</td>
                <td>{{ props.item.modified }}</td>
                <td>
                  <v-btn
                    color="red darken-2"
                    dark
                    @click="() => deleteItem(props.item.name)"
                  >
                    Delete
                  </v-btn>
                </td>
              </template>
            </v-data-table>
          </v-card>
        </v-tab-item>
      </v-tabs>
      <div class="text-xs-center">
        <v-dialog
          v-model="dialog2"
          fullscreen
        >
          <v-btn
            slot="activator"
            color="blue lighten-2"
            dark
          >
            Show All Gifs
          </v-btn>
          <v-card>
            <v-toolbar dark color="primary">
              <v-btn icon dark @click.native="dialog2 = false">
                <v-icon>close</v-icon>
              </v-btn>
              <v-toolbar-title>Showcase</v-toolbar-title>
              <v-spacer></v-spacer>
            </v-toolbar>
            <template>
              <v-card>
                <v-container grid-list-sm fluid>
                  <v-layout row wrap>
                    <v-flex
                      v-for="gif in this.gifs"
                      d-flex
                      sm4
                    >
                      <v-card flat tile class="d-flex">
                        <v-img
                          :src="gif.path"
                          aspect-ratio="1"
                          class="grey lighten-2"
                        >
                          <v-layout
                            slot="placeholder"
                            fill-height
                            align-center
                            justify-center
                            ma-0
                          >
                            <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                          </v-layout>
                        </v-img>
                      </v-card>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-card>
            </template>
          </v-card>
        </v-dialog>

        <v-dialog
          v-model="dialog1"
          width="500"
        >
          <v-btn
            slot="activator"
            color="red lighten-2"
            dark
          >
            Change Bucket
          </v-btn>
          <v-card>
            <v-card-title
              class="headline grey lighten-2"
              primary-title
            >
              Input Bucket
            </v-card-title>
            <v-divider></v-divider>
            <v-form >
              <v-text-field
                v-model="bucketInput.name"
                :rules="bucketInput.rules"
                label="Bucket Name"
                required
              ></v-text-field>
            </v-form>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                color="primary"
                flat
                @click="listObjectsInBucket"
              >
                Done
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog
          v-model="makeGifDialog.dialog"
          width="500"
        >
          <v-card>
            <v-card-title
              class="headline grey lighten-2"
              primary-title
            >
              Make New Gif
            </v-card-title>
            <v-divider></v-divider>
            <v-form >
              <v-text-field
                v-model="makeGifDialog.selectedVid"
                :rules="makeGifDialog.selectedVidRules"
                label="Selected Video Name"
                required
              ></v-text-field>
              <v-text-field
                v-model="makeGifDialog.outputName"
                :rules="makeGifDialog.outputNameRules"
                label="Gif Name"
                hint=".gif extension is automatically added."
                required
              ></v-text-field>
            </v-form>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                color="primary"
                flat
                @click="makeGif"
              >
                Done
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-btn
          color="green lighten-2"
          dark
          @click="makeBucketGif"
        >
          Make Gifs from all videos
        </v-btn>
        <v-btn
                color="red lighten-2"
                dark
                @click="deleteAllGifs"
        >
          Delete All Gifs in Bucket
        </v-btn>
        <div>
          {{this.bucket.sub}}
        </div>
      </div>
    </v-content>
    <v-footer :fixed="fixed" app>
      <span>&copy; 2018</span>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  data () {
    return {
      bucket: {
        name: "No Bucket Selected",
        sub: "",
      },
      clipped: false,
      drawer: true,
      fixed: false,
      items: [{
        icon: 'bubble_chart',
        title: 'Inspire'
      }],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'Vuetify.js',
      vidHeaders: [
        {
          text: 'Gif Name',
          sortable: false,
          value: 'name'
        },
        {
          text: 'Created Date',
          value: 'created',
          sortable: false
        },
        {
          text: 'Modified Date',
          value: 'modified',
          sortable: false
        },
        {
          text: 'Delete',
          value: 'name',
          sortable: false
        },
        {
          text: 'Make Gif',
          value: 'name',
          sortable: false
        },
      ],
      gifHeaders: [
        {
          text: 'Gif Name',
          sortable: false,
          value: 'name'
        },
        {
          text: 'Created Date',
          value: 'created',
          sortable: false
        },
        {
          text: 'Modified Date',
          value: 'modified',
          sortable: false
        },
        {
          text: 'Delete',
          value: 'name',
          sortable: false
        },
      ],
      gifs: [],
      vids: [],
      bucketInput: {
        name: '',
        rules: [
          v => !!v || 'Bucket Name is required',
          v => v.length > 0 || 'Bucket Name is required',
        ]
      },
      dialog1: false,
      dialog2: false,
      makeGifDialog: {
        dialog: false,
        selectedVid: "",
        outputName: "",
        selectedVidRules: [
          v => !!v || 'Selected Video Name is required',
          v => v.length > 0 || 'Selected Video Name is required',
        ],
        outputNameRules: [
          v => !!v || 'Output Name is required',
          v => v.length > 0 || 'Output Name is required',
        ]
      },
    }
  },
  name: 'App',
  methods: {
    loadBucketData: function () {
      if (this.bucket.name !== "No Bucket Selected") {
        this.$axios.get('http://localhost:9090/gif?list&bucketName=' + this.bucket.name)
          .then(response => {
            console.log(response)
            let gifs = response["data"];
            for (let i = 0; i < gifs.length; i++) {
              gifs[i]["path"] = "http://localhost:8080/" + this.bucket.name + "/" + gifs[i].name
            }
            console.log(gifs)
            this.gifs = gifs;
          })
          .catch(reason => {
            console.log(reason)
            this.bucket.sub = "Unable to find bucket"});
        this.$axios.get('http://localhost:9090/vid?list&bucketName=' + this.bucket.name)
          .then(response => {
            console.log(response)
            let vids = response["data"];
            for (let i = 0; i < vids.length; i++) {
              vids[i]["path"] = "http://localhost:8080/" + this.bucket.name + "/" + vids[i].name
            }
            console.log(vids)
            this.vids = vids;
          })
          .catch(reason => {
            console.log(reason)
            this.bucket.sub = "Unable to find bucket"});
      }
    },
    listObjectsInBucket: function (event) {
      console.log(this.bucketInput.name);
      if (this.bucketInput.name.length > 0){
        this.bucket.name = this.bucketInput.name;
        this.loadBucketData();
        this.dialog2 = false;
      }
    },
    clickOnMakeGif: function (vidname,event) {
      let dummy = this.makeGifDialog;
      dummy.dialog = true;
      dummy.selectedVid = vidname;
      this.makeGifDialog = dummy;
    },
    makeGif: function (event) {
      let objectName = this.makeGifDialog.selectedVid;
      let outputName = this.makeGifDialog.outputName + ".gif";
      let url = 'http://localhost:9090/job?create&bucketName=' + this.bucket.name + "&objectName=" + objectName + "&outputName=" + outputName;
      this.$axios.post(url).catch(reason => {
        console.log(reason.response);
        this.bucket.sub = "Sent Make Gif Request Failed";
      });
      let dummy = this.makeGifDialog;
      dummy.outputName = "";
      dummy.selectedVid = "";
      dummy.dialog = false;
      this.bucket.sub = "Sent Make Gif Request"
    },
    makeBucketGif: function (bucketname,event) {
      let url = 'http://localhost:9090/job?create&bucketName=' + this.bucket.name;
      this.$axios.post(url).catch(reason => {
        console.log(reason.response);
        this.bucket.sub = "Request To Make All Gifs Failed";
      });
      this.bucket.sub = "Sent Make All Gifs Request"
    },
    deleteAllGifs: function (event) {
      let url = "http://localhost:8080/" + this.bucket.name + "/";
      console.log(this.gifs)
      for (let i = 0; i < this.gifs.length; i++){
        let nurl = url + this.gifs[i].name + "?delete";
        this.$axios
          .delete(nurl)
          .catch(reason => {
          console.log(reason.response);
          this.bucket.sub = "Unable go Delete Item"});
      }
      this.gifs = [];
    },
    deleteItem: function (name,event) {
      console.log("http://localhost:8080/" + this.bucket.name + "/" + name + "?delete");
      this.$axios
        .delete('http://localhost:8080/' + this.bucket.name + "/" + name + "?delete")
        .then(response => {
          if (response.status === 200) {
            let d = -1;
            for (let i = 0; i < this.gifs.length; i++) {
              if (this.gifs[i].name === name) {
                d = i;
                break
              }
            }
            this.gifs.splice(d,1);
          }
        }).catch(reason => {
          console.log(reason.response);
          this.bucket.sub = "Unable go Delete Item"});
    },
  },
  mounted: function () {
    this.loadBucketData();
    setInterval(function () {
      this.loadBucketData();
    }.bind(this), 20000);
  }
}
</script>
